.title {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 0.5em;
  margin-left: 0.5em;
}

.bottomLeft {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.bottomRight {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
