body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.status {
  text-align: center;
  margin: 25px 0;
}

div.box {
  position: relative;
  display: inline-flex;
  margin: 0px;
  width: 50px;
  height: 50px;
  border-top: 3px solid #eee;
  border-left: 3px solid #eee;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

div.box:hover {
  cursor: pointer;
}

div.box.winnerA {
  background-color: rgba( 255, 0, 0, 0.3 );
}

div.box.winnerB {
  background-color: rgb( 0, 0, 255, 0.3 );
}

div.box.topA {
  border-top: 3px solid red;
}

div.box.topB {
  border-top:  3px solid blue;
}

div.box.leftA {
  border-left: 3px solid red;
}

div.box.leftB {
  border-left: 3px solid blue;
}

div.box:last-child.rightA {
  border-right: 3px solid red;
}

div.box:last-child.rightB {
  border-right: 3px solid blue;
}

div.row:last-child > div.box.bottomA {
  border-bottom: 3px solid red;
}

div.row:last-child > div.box.bottomB {
  border-bottom: 3px solid blue;
}

div.row > div.box:last-child {
  border-right: 3px solid #eee;
}

div.row:last-child > div.box {
  border-bottom: 3px solid #eee;
}

div.topLeft {
  position: absolute;
  border: 5px black solid;
  border-radius: 5px;
  top: -6.5px;
  left: -6.5px;  
}

div.topRight, div.bottomLeft, div.bottomRight {
  display: none;
}

div.row > div.box:last-child > div.topRight {
  display: block;
  position: absolute;
  border: 5px black solid;
  border-radius: 5px;
  top: -6.5px;
  right: -6.5px;  
}

div.row:last-child > div.box > div.bottomLeft {
  display: block;
  position: absolute;
  border: 5px black solid;
  border-radius: 5px;
  bottom: -6.5px;
  left: -6.5px;
}

div.row:last-child div.box:last-child div.bottomRight {
  display: block;
  position: absolute;
  color:  black;
  z-index:  10;
  border: 5px black solid;
  border-radius: 5px;
  bottom: -6.5px;
  right: -6.5px;
}
