@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap");

body {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 12px;
  background-color: #eee;
  margin: 0;
}

div,
span,
input,
button {
  font-family: "Roboto Mono", monospace;
}
