@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 12px;
  background-color: #eee;
}

div#title {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 0.5em;
  margin-left: 0.5em;
}

div#bottom-left {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

div#bottom-right {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
